/* Header */

header {
    height: 20rem;
}

header img {
    width: 18%;
    padding-left: 5rem;
    padding-top: 6.5rem;
    display: inline-block;
    float: left;
    margin: 0;
}

header>h2 {
    display: inline-block;
    margin: 0;
    font-size: 5rem;
    padding-left: 4rem;
    padding-top: 8rem;
}

/* Images */

img {
    width: 100%;
}


/* Chapeau */

    .chapeau img {
        margin-left: -5rem;
        width: calc(100% + 10rem);

    }

.chapeau h2 {
    width: 80rem;
    text-align: center;
    position: absolute;
    top: 68rem;
    background-color: white;
    border: solid black 1px;
    margin: 6rem 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.la-pollution-numerique h2 {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
}

.chapeau p {
    margin-top: 21rem;
}


/* Page d'accueil */

/*.introduction {
    width: 100%;
    height: 100%;
    background-image: url(images/image1.jpg);
    background-size: 100%;
    background-color: transparent;
}*/

.tweet_1 img, .tweet_2 img, .tweet_3 img {
    width: 42rem;
    clip-path: circle(50%);
    shape-outside: circle(56%) border-box;
    margin: 1rem;
}

.tweet_1 img, .tweet_3 img {
    float: left;
    margin-left: -16rem;
    margin-right: 3rem;
    /*shape-outside: circle(55%) border-box;*/
}

.tweet_2 img {
    float: right;
    margin-right: -16rem;
    margin-left: 3rem;
}

.tweet_1 p, .tweet_3 p {
    margin-bottom: 6rem;
}

.tweet_2 p {
    text-align: right;
    margin-bottom: 6rem;
}


.tweet_1 a, .tweet_2 a, .tweet_3 a {
    color: #00B412;
    text-decoration: none;
    font-size: 5.5rem;
    font-weight: bold;
    padding: 2rem 7rem;
    border: solid #00B412 8px;
    border-radius: 10rem;
}

.tweet_1 a, .tweet_3 a {
    margin-left: 10rem;
}

.tweet_2 a {
    margin-left: 10rem;
}


.tweet_1, .tweet_2, .tweet_3 {
    margin-bottom: 15rem;
}