/* Header */

header {
    height: 8rem;
}

header img {
    width: 18%;
    padding-left: 2rem;
    padding-top: 2.6rem;
    display: inline-block;
    float: left;
    margin: 0;
}

header>h2 {
    display: inline-block;
    margin: 0;
    font-size: 2rem;
    padding-left: 1.6rem;
    padding-top: 3.2rem;
}

/* Images */

img {
    width: 100%;
}


/* Chapeau */

.chapeau img {
    margin-left: -2rem;
    width: calc(100% + 4rem);
}

.chapeau h2 {
    width: 30rem;
    text-align: center;
    position: absolute;
    top: 26rem;
    background-color: white;
    border: solid black 1px;
    margin: 2.4rem 1.65rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.la-pollution-numerique h2 {
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
}

.chapeau p {
    margin-top: 8.4rem;
}


/* Page d'accueil */

.introduction {
    width: 100%;
    height: 728px;
    background-image: url(images-interface/image1.jpg);
    background-size: 100%;
    background-color: transparent;
}

.introduction h1 {
    margin-top: 0;
    padding-top: 3.5rem;
    text-align: center;
}

.introduction h2 {
    font-size: 2rem;
    text-align: center;
}

.introduction>p {
    margin: 15rem 2rem 2rem;
    padding: 1.5rem 2rem;
}

.introduction div {
    font-size: 3.5rem;
    font-weight: lighter;
}

.chevron {
    width: 5rem;
    margin-left: 16.2rem;
    margin-right: 16.2rem;
}

.tweet_1 img, .tweet_2 img, .tweet_3 img {
    width: 16.8rem;
    clip-path: circle(50%);
    shape-outside: circle(56%) border-box;
    margin: 0.4rem;
}

.tweet_1 img, .tweet_3 img {
    float: left;
    margin-left: -6.4rem;
    margin-right: 1.2rem;
}

.tweet_2 img {
    float: right;
    margin-right: -6.4rem;
    margin-left: 1.2rem;
}

.tweet_1 p, .tweet_3 p {
    margin-bottom: 2.4rem;
}

.tweet_2 p {
    text-align: right;
    margin-bottom: 2.4rem;
}


.tweet_1 a, .tweet_2 a, .tweet_3 a {
    color: #00B412;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.8rem 2.8rem;
    border: solid #00B412 3px;
    border-radius: 4rem;
}

.tweet_1 a, .tweet_3 a {
    margin-left: 4rem;
}

.tweet_2 a {
    margin-left: 2rem;
}


.tweet_1, .tweet_2, .tweet_3 {
    margin-bottom: 6rem;
}


iframe {
    width: 100%;
    height: 18.9rem;
}


/* Footer */

footer {
    padding: 2rem;
    margin-top: 1.6rem;
}

footer p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.6rem;
}

.mention {
    text-align: center;
}

footer img {
    width: 5.6rem;
    height: 6.4rem;
    padding-top: 2rem;
}

.mention p {
    padding-top: 1rem;
}

footer>p:first-of-type {
    margin-top: -2.9rem;
}

footer li {
    display: inline-block;
    list-style: none;
    font-size: 2.8rem
}

.reseaux-sociaux>li>a {
    color: white;
}

footer span {
    clip: rect(1px,1px,1px,1px);
    position: absolute;
    display: block;
}

footer ul {
    text-align: right;
    margin: 0;
}

.fa-snapchat-ghost {
    padding-right: 1.2rem;
}

.fab.fa-instagram {
    padding-right: 1.2rem;
}


/* Mises en exergue */

.exergue {
    width: 29.5rem;
}

.exergue p, h4 {
    padding: 1.6rem;
    margin: 0;
}


.citation p:first-of-type {
    width: 21.8rem;
    font-style: italic;
    padding-top: 1.3rem;
}

.citation p:last-of-type {
    text-align: right;
    padding-top: 0;
    padding-bottom: 1rem;
}

.citation img {
    width: 11rem;
    float: right;
    margin-top: 4rem;
    margin-right: -2.8rem;
    shape-outside: element(60%);
}

.citation {
    border-left: dashed #2E91F7 2px;
    border-bottom: dashed #2E91F7 2px;
}

.exergue {
    padding: 1rem;
}

.effet-de-serre p,
.data-center p,
.exemple p,
.cookies p,
.le-saviez-vous p {
    padding-top: 0;
}

.exergue h4 {
    text-align: center;
}

.effet-de-serre {
    border-right: dashed #282658 2px;
    border-top: dashed #282658 2px;
}

.data-center p:last-of-type {
    font-style: italic;
}

.data-center {
    border-right: dashed #282658 2px;
    border-bottom: dashed #282658 2px;
}

.exemple {
    float: right;
    border-left: dashed #2E91F7 2px;
    border-top: dashed #2E91F7 2px;
}

.cookies {
    float: right;
    border-left: dashed #2E91F7 2px;
    border-bottom: dashed #2E91F7 2px;
    margin-bottom: 3rem;
}

.le-saviez-vous {
    padding-left: 0;
    margin-left: -2rem;
    border-right: dashed #282658 2px;
    border-top: dashed #282658 2px;
    border-bottom: dashed #282658 2px;
}

.le-saviez-vous p, .le-saviez-vous h4 {
    padding-left: 3.2rem;
}



/* Bouton "page suivante" */

.page-suivante a {
    color: #00B412;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.8rem 2.3rem;
    border: solid #00B412 3px;
    border-radius: 4rem;
}

.page-suivante {
    margin: 5rem;
    text-align: center;
}

/* Bouton "page précédente" */

.page-precedente a {
    color: #00B412;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.8rem 2.3rem;
    border: solid #00B412 3px;
    border-radius: 4rem;
}

.page-precedente {
    margin: 0 5rem 5rem;
    text-align: center;
}

.exemple {
    margin-bottom: 4.5rem;
}

.le-saviez-vous {
    margin-bottom: 5rem;
}



/* Article scientifique */

.article-scientifique {
    padding: 2rem;
    margin-bottom: -1.6rem;
}

.article-scientifique h3 {
    margin-top: 0;
    text-align: center;
}

.article-scientifique p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article-scientifique p:last-of-type {
    margin-bottom: 0;
}



/* Bouton "me contacter" */

.bouton-contact a {
    color: #00B412;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.8rem 2.3rem;
    border: solid #00B412 3px;
    border-radius: 4rem;
}

.bouton-contact {
    text-align: center;
}



/* Page "A propos" */

.a-propos {
    padding: 2rem;
}

.a-propos h2 {
    width: 30rem;
    text-align: center;
    border: solid black 1px;
    margin: 1.65rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.a-propos h3 {
    margin-top: 3.6rem;
}

.a-propos .bouton-contact {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.autres_projets img {
    width: 15rem;
}

a[href="http://projets1.benjasauvelemonde.fr"] img{
    width: 11rem;
}

.autres_projets ul {
    padding: 0 6.8rem;
    width: 20rem;
    align-content: center;
}

.autres_projets li {
    list-style: none;
    text-align: center;
    margin-top: 5rem;
}

.autres_projets a {
    color: black;
    text-decoration: none;
}

.autres_projets a:hover {
    color: black;
    background-color: transparent;
}