header {
    height: 20rem;
}

header img {
    width: 18%;
    padding-left: 5rem;
    padding-top: 6.5rem;
    display: inline-block;
    float: left;
}

header>h2 {
    display: inline-block;
    margin: 0;
    font-size: 5rem;
    padding-left: 4rem;
    padding-top: 7rem;
}
