/* Typographies */

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,700;1,400&family=Roboto+Slab&display=swap');






.exemples-couleurs {
    color: black;
    color: white;
    color: #282658;
    color: #2E91F7;
    color: #CCF0F8;
    color: #00B412;
}

html {
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    width: 100%;
    background-color: white;
    color: black;
    font-family: Krub, sans-serif;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin: 0;

}

article {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Couleur titres et texte */

h1, h2, h3, h4 {
    font-family: "Roboto Slab", serif;
}

h1,
header>h2,
.exergue,
.introduction h2,
.introduction>p,
footer{
    color: white;
}

h1 {
    font-size: 3.4rem;
}

main h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #282658;
}

h3 {
    font-size: 2rem;
    line-height: 2.6rem;
    color: #282658;
}


a {
    color: #00B412;
    font-weight: bold;
}


/* Backgound */

header,
.effet-de-serre>div,
.data-center>div,
.le-saviez-vous>div {
    background-color: #282658;
}

footer {
    background-color: black;
}

.citation>div,
.exemple>div,
.cookies>div {
    background-color: #2E91F7;
}

.article-scientifique {
    background-color: #CCF0F8;
}

.introduction>p {
    background-color: rgba(0,0,0,0.6);
}


.légende {
    color: black;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    margin-top: 0;
    font-style: italic;
}
