/* Typographies */

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,700;1,400&family=Roboto+Slab&display=swap');






.exemples-couleurs {
    color: black;
    color: white;
    color: #282658;
    color: #2E91F7;
    color: #CCF0F8;
    color: #00B412;
}

html {
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    width: 100%;
    background-color: white;
    color: black;
    font-family: Krub, sans-serif;
    font-size: 4rem;
    line-height: 5.5rem;
    margin: 0;

}

article {
    padding-left: 5rem;
    padding-right: 5rem;
}


/* Couleur titres et texte */

h1, h2, h3, h4 {
    font-family: "Roboto Slab", serif;
}

h1,
header>h2,
.exergue,
.introduction h2,
.introduction>p,
footer{
    color: white;
}

h1 {
    font-size: 3.6rem;
}

main h2 {
    font-size: 6.5rem;
    line-height: 8.5rem;
    color: #282658;
}

h3 {
    font-size: 5rem;
    line-height: 7rem;
    color: #282658;
}

.légende {
    color: black;
    font-size: 3rem;
    line-height: 4rem;
}


/* Backgound */

header,
.effet-de-serre,
.data-center,
.le-saviez-vous{
    background-color: #282658;
}

footer {
    background-color: black;
}

.citation>div,
.exemple,
.cookies {
    background-color: #2E91F7;
}

.article-scientifique {
    background-color: #CCF0F8;
}

.introduction>p {
    background-color: rgba(0,0,0,0.6);
}


/* Taille du texte */

